.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url("img/4k-space-background-4v1sv1hbmbn8wmim.jpg");
}
.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url("img/Cool-4K-Space-wallpaper-with-a-beautiful-image-of-a-blue-ringed-planet-with-its-moons-set-against-a-deep-blue-starry-background.jpg");
}
.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url("img/hhh.jpg");
}